<mat-list role="list">

    <div class="profile">
        <img src="https://clipground.com/images/admin-logo-1.png" alt="admin logo">
        <h3>Admin </h3>
        <h4>admin@luminar.com</h4>
    </div>

    <mat-divider></mat-divider>
    <h2>Pages</h2>
    <div class="pages">
        <a routerLink="">Dashboard</a>
        <a routerLink="gallery">Gallery</a>
        <a routerLink="employees">Employees</a>
    </div>
    <mat-divider></mat-divider>
    <h2>Tools</h2>
    <div class="pages">
        <a routerLink="add"> <mat-icon>import_contacts</mat-icon> Add Employee</a>
        <a routerLink="lead"> <mat-icon>person</mat-icon> Leads</a>
    </div>
  </mat-list>
  