.cards{
    width: 200px;
    height: 100px;
    color: white;
}

.cards .icon{
    font-size: 50px;
    width: fit-content;
    height: fit-content;
}
.cards .contents{
    font-weight: 600;
}

.orange{
    background-color: rgb(251, 185, 62);
}

.green{
    background-color: rgb(30, 160, 30);
}

.red{
    background-color: rgb(186, 34, 34);
}

.blue{
    background-color: rgb(82, 82, 221);
}